.menu {
width: 600px;
height: 200 px;
}
.Home {
width:320px;
height: 320px;
color:black;
}
.Blog {
width: 320px;
height: 320px;
color: burlywood;
}
.Login {
width: 320px;
height: 320px;
color:burlywood;
}
.Jogar {
width: 320px;
height: 320px;
color:burlywood;
}