@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Megrim&family=Nova+Cut&display=swap');

*{
  /*O asterisco abaixo indica que as configurações nele contidas valem para todo o site */
    margin: o;
    padding: o;
    /*padding mede a distancia entre o conteudo de um elemento e a sua borda. No caso deixamos zerado por padrao para todos  */
    box-sizing:border-box ;
    /* o box sizing zera as configuracoes pre definidas dos box do site, assim eu mesma irei configura-los*/
 }
header {
background-color:whitesmoke; 
height: 140px;
width: 1200px;
background-image: url(../img/header-novo.png);
background-repeat:no-repeat;
background: size 1200px; 
}

.container-grid{
  width: 1200px;
  height: 100%;
  margin: auto;
      /*Para facilitar a organizacao das informacoes e para uma boa pratica entre web-devs, coloca-se sempre infos de altura, largura, posicao antes dos demais ajustes de um elemento */
  display: flex;
      /*Facilita a organizacao dos elementos e "desbloqueia" outras funcionalidades interessantes*/
  align-items: center;      
  justify-content: space-between;
        
}

  .titulo-site {
    color:000000;
    font-family:'Megrim', cursive;
    font-size:150px;    
    font-weight:300;
    text-transform: uppercase;
  }

  .menu a {
    width:620px;
    height: 120px;
    color:#FFFA7B;
    text-decoration: none;  
    font-family: 'Nova Cut', cursive;
    font-size:30px;
    justify-content:space-between;
    justify-content:right; 
    background-image: url(../img/botoes-circulares.png);
    background-size:cover; 
    background-repeat: no-repeat;
    padding: 10px;
    font-size: 30;
  }


.busca {
  font-family:'Gemunu Libre', sans-serif;
  font: size 20px;
}
/*----------fim da sessao header---------- */

.banner{ 
height: 230px;
width: 1200px;
background-image:url(../img/banner_home_recorte.jpg);
}
  
.texto-banner {
color:white;
font-family: 'Gemunu Libre',sans-serif;
font-size: 25px;
font-weight: 300;
justify-content: space-between;

}

.texto-banner h2{
  color: #FFFA7B;
  font-size: 50px;
  font-weight: bold;
}

.posicao-texto{
justify-content:center;
align-items:center;
}
/* -------- fim da sessao banner---------*/

.conteudo-body h2{
font-family: 'Nova Cut', cursive;
font-size: 40px;
}

.conteudo-body p{
font-family:'Gemunu libre', sans-serif;
font-size: 35px;

}
