@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Megrim&family=Nova+Cut&display=swap');

*{
  /*O asterisco abaixo indica que as configurações nele contidas valem para todo o site */
    margin: o;
    padding: o;
    /*padding mede a distancia entre o conteudo de um elemento e a sua borda. No caso deixamos zerado por padrao para todos  */
    box-sizing:border-box ;
    /* o box sizing zera as configuracoes pre definidas dos box do site, assim eu mesma irei configura-los*/
 }

 /*_____________Header____________*/
.container-grid{
  width: 1200px;
  height: 100%;
  margin: auto;
  /*___Para facilitar a organizacao das informacoes e para uma boa pratica entre web-devs, coloca-se sempre infos de altura, largura, posicao antes dos demais ajustes de um elemento */
  display: flex;
  /*____Facilita a organizacao dos elementos e "desbloqueia" outras funcionalidades interessantes*/
  align-items: center;      
  justify-content:space-between;
}

header {
  width: 100%;
  background-color:#EEFFFD; 
  height: 150px;
  background-image: url(../img/header-novo.png);
  background-repeat:no-repeat;
  background-size: 100%;
  background-position-y: top;
  display: flex;
  justify-content: center;
}

.botoes a {
  width:620px;
  height: 120px;
  color:#FFFA7B;
  text-decoration: none;  
  font-family: 'Nova Cut', cursive;
  font-size:  23px;
  justify-content:flex-end;
  background-image: url(../img/botoes-circulares.png);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 65px;  
  padding:19px; 
  position: relative;
}

.busca a {
  width: 185px;
  height:fit-content;
  font-family:'Gemunu Libre', sans-serif;
  font-size: 25px;
  text-decoration: none;   
  position: absolute;
  /*______Essa posição "absolute" ajuda a que se posicione sob a div botoes, que para isso teve q ser definida como "relative"_______*/
  color: black;
  background-image: url(../img/Busca.png);
  background-repeat: no-repeat;
  background-size:contain;
  margin-top: 20px;
  justify-content: flex-end;
  right: 85px;
  /*_______consegui alinhar o busca a direita usando o comando right, para desliza-lo para onde precisava. com o "position absolute" ele estava alinhado à esquerda dos botoes*/
}

/*___________Banner___________ */

.banner{ 
  height: 230px;
  width: 100%;
  background-image:url(../img/Banner.png);
  background-repeat: no-repeat;
  justify-content: center;
  display:flex;
}
  
.texto-banner {
  color:white;
  font-family: 'Gemunu Libre',sans-serif;
  font-size: 25px;
  font-weight: 300;
  justify-content: space-between;
}

.texto-banner h2{
  color: #FFFA7B;
  font-size: 50px;
  font-weight: bold;
}

.posicao-texto{
  justify-content:center;
  align-items:center;
}

/* __________Body_____________*/

body{
  background-color: #EEFFFD;
}
.conteudo-body h2{  
  font-family: 'Nova Cut', cursive;
  font-size: 30px;
  color: #BF0505;
}

.conteudo-body p{
  font-family:'Gemunu libre', sans-serif;
  font-size: 25px;
}

.conteudo-body {
  width: 1200px;
  height: 100%;
  margin: auto;
}


.o-que-e{
  margin-top: 15px;
}

.como-jogar{
  margin-top: 15px;
}

.livros{
  margin-top: 15px;
}
.forum{
  margin-top: 15px;
}

.row{
  height:max-content;
}
.lancamentos-container {
  margin-top: 15px;
  margin-bottom: 15px;
  }

 .lancamentos-container img{
   width: 320px;
   height: 320px;
     
 }

.lojinha{
  margin-bottom: 15px;
}


/*_____________footer__________________*/
.container-grid-textos{
display: flex;
font-family: 'Nova Cut',cursive;
font-size: 18px;
justify-content: space-between;
}

.linha2 {
display: flex;
font-family: 'Nova Cut',cursive;
font-size: 18px;
}
*/
.flex-container{
  flex-direction: column;
}

/*
footer a {
 text-decoration: none;
 justify-content: space-between;
}

footer{
  height: 150px;
  background-color: #C4C4C4;
  background-image: url(../img/Footer-padrão-NOVO.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  font-family: 'Nova Cut',cursive;
  font-size: 18px;
  }


.footer-box{
  font-family: 'Nova Cut',cursive;
  font-size: 18px;
  padding: 1%;
  flex-direction: column;
}
 
footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer .img {
  width: 15px;
  height: 15px;
}

footer .wrapper:after{
  clear: both;
  content: "";
  display: block;
}

footer .list a{
  transition: 5s;
}
footer .list a hover{
  color: #BF0505;
}

footer .list li::after{
  clear:both;
  content:"";
  display: block;
}

.assinatura{
  font-size:10px;
  justify-content: center;
}
*/


